* {
  font-family: 'Liberation Sans','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.me-2 {
  margin-right: 2rem;
}

#the-canvas {
  display: block;
  border: 1px solid black;
  direction: ltr;
}

.container-file {
  background-color: #eee;
  margin: 2rem auto;
  width: 400px;
  box-shadow: 6px 6px 10px rgba(0,0,0,0.1);
}